@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body,
html {
  @apply text-neutral-700 font-sans m-auto p-0 m-0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  @apply font-sans font-bold text-neutral-900;
}

/* Good defaults for buttons */
button {
  @apply font-sans font-600 border-none px-4 py-2 rounded-sm;
}