@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
  letter-spacing: 0.02em;
}

body,
html {
  @apply text-neutral-700 font-sans m-auto p-0 m-0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  @apply font-sans font-bold text-neutral-900;
}

/* Good defaults for buttons */
button {
  @apply font-sans font-600 border-none px-4 py-2 rounded-sm;
}