---
import "@fontsource/instrument-serif";

import Card from "../components/card.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="An in-person hackathon for 100 high schoolers in Galloway, New Jersey. Hosted at Absegami High School"
    />
    <meta
      name="keywords"
      content="website,developer,programmer,hackathon,2024,nj"
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gamihacks.org/" />
    <meta property="og:title" content="GamiHacks" />
    <meta property="og:site_name" content="GamiHacks" />
    <meta
      property="og:description"
      content="An in-person hackathon for 100 high schoolers in Galloway, New Jersey. Hosted at Absegami High School"
    />
    <meta property="og:image" content="https://gamihacks.org/assets/og.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://gamihacks.org/" />
    <meta property="twitter:title" content="GamiHacks" />
    <meta
      property="twitter:description"
      content="An in-person hackathon for 100 high schoolers in Galloway, New Jersey. Hosted at Absegami High School"
    />
    <meta
      property="twitter:image"
      content="https://gamihacks.org/assets/og.png"
    />

    <title>GamiHacks</title>
  </head>
  <body>
    <section class="bg-black text-neutral-200 w-full">
      <div class="max-w-3xl m-auto p-8">
        <header>
          <span class="font-serif text-2xl"
            ><span class="text-yellow-400">Gami</span>Hacks</span
          >
        </header>
        <h1 class="text-4xl md:text-6xl xl:text-7xl text-white font-400">
          In-person hackathon for <span class="text-yellow-400"
            >high schoolers</span
          >
        </h1>

        <div>
          <p>
            <strong class="text-white">When?</strong> January 13th, 7:30am to 8:30pm
          </p>
          <p>
            <strong class="text-white">Where?</strong> Absegami High School, Atlantic
            County, NJ
          </p>
        </div>

        <div class="flex gap-8 mt8">
          <button
            class="border-none bg-yellow-400 font-bold font-sans"
          >
            <a
              class="text-black decoration-none py-4 px-8 block"
              href="https://forms.gle/1mAv4MW3WWmP2d5b9"
              target="_blank"
            >
              Register
            </a>
          </button>
          <button
            class="border-none bg-neutral-100 text-black font-bold font-sans"
          >
            <a
              href="https://bank.hackclub.com/donations/start/gamihacks"
              class="text-black decoration-none py-4 px-8 block"
              target="_blank">Donate</a
            >
          </button>
        </div>
      </div>
    </section>
    <section class="">
      <div class="pt-8 pb-2 px-8 max-w-3xl m-auto">
        <p>
          <strong>GamiHacks</strong> will be hosted at Absegami High School (located
          in Galloway), and is organized entirely by Absegami students. All levels
          of experience are welcome to come, write some code, and have some fun.
          Throughout the day, there will be workshops and events running. Mentors
          will be around to offer their expertise and assistance.
        </p>

        <p>
          As the event gets closer, we'll share more information about food,
          prizes, judging, and overall logistics. Make sure you keep your eye on
          our social media!
        </p>
      </div>
    </section>
    <section class="">
      <div class="max-w-3xl m-auto px-8 mt-8 mb-16">
        <h2 class="mt-4">Frequently Asked Questions</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-3 m-0 p-0">
          <Card title={'What is a "hackathon"?'}>
            A hackathon is a competitive programming event. For GamiHacks,
            approximately 100 people are going to gather, work on cool projects,
            and then show them off.
          </Card>
          <Card title="How much does it cost?">
            Nothing! As a participant, the event is completely free, thanks to
            the support of our sponsors. If you're curious about our expenses,
            our bank account is <a
              target="_blank"
              href="https://bank.hackclub.com/gamihacks">fully transparent</a
            >
          </Card>
          <Card title="What do I need to bring?">
            We recommend you bring ID, a laptop (and appropriate chargers). If
            you can't bring one or don't have one, there will also be computers
            at the venue that you can use (<em
              >but you can't install software on them</em
            >)
          </Card>
          <Card title="Do I need a team?">
            Nope! You're free to come with a team, and you can work alone if
            you'd like. We'll have an event for forming teams at the beginning
            of the event.
          </Card>
          <Card title="Do I need programming experience?">
            We recommend that you have some programming experience, but if you
            don't, that's okay! We'll have workshops and mentors to help you
            out.
          </Card>
          <Card title="How many people will be there?">
            We're aiming for around 100 participants. That said, we're still far
            away from the event so it's still up in the air. Bring your friends!
          </Card>
        </div>
      </div>
    </section>
    <footer class="text-center bg-black text-gray-200">
      <div class="max-w-2xl p-16 m-auto">
        <p>
          <!-- <a class="text-white font-bold" href="/conduct">Code of Conduct</a> ·  -->
          <a class="text-white font-bold" href="https://instagram.com/gamihacks"
            >Instagram</a
          > · <a class="text-white font-bold" href="mailto:team@gamihacks.org"
            >team@gamihacks.org</a
          >
        </p>
        <p>
          GamiHacks is fiscally sponsored by Hack Club Bank, a project by The
          Hack Foundation (d.b.a Hack Club), a 501(c)(3) nonprofit (EIN:
          81-2908499).
        </p>
      </div>
    </footer>
  </body>
  <style is:global>
    @import "../styles/global.css";

    details summary {
      @apply font-bold;
    }
  </style>
</html>
