---
interface Props {
  href?: string;
  variant: "primary" | "secondary";
}

const classes = {
  base: "font-sans font-600 border-none px-4 py-2 rounded-1 transition-colors",
  primary: "bg-yellow-400 text-black hover:bg-yellow-300",
  secondary: "bg-gray-700 hover:bg-gray-600 text-white",
};

const { href, variant, ...props } = Astro.props;
---

<button class:list={[classes.base, classes[variant]]}>
  {
    href == null ? (
      <slot />
    ) : (
      <a href={href} class="text-inherit decoration-none" {...props}>
        <slot />
      </a>
    )
  }</button
>
